body {
  margin: .7em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;

  button {
    max-width: fit-content;
  }
}

.display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    margin: 1em;
    text-align: center;

    select {
      text-align: left;
    }
  }
}

.overview-container {

  .overview-items-container {
    display: flex;
    flex-direction: row;

    .recent-purchases-container {
      min-width: none;
      max-width: 30%;
      flex: 0 1 auto;
      margin-right: .7em;
    }

    .overview-purchases-graph-container {
      min-width: none;
      max-width: 70%;
      flex: 2 0 auto;
      margin-right: .7em;
    }

  }
}
